.sidebar {
    margin: 3ch;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0;
    overflow: auto;
    max-height: 40%;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
div.content {
  margin-right: 250px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: right;}
  div.content {margin-right: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}